# Variáveis de Ambiente
# Servidor API
VITE_API_URL=http://localhost:3000
VITE_API_TIMEOUT=10000

# Configuração da Aplicação
VITE_ITEMS_PER_PAGE=10
VITE_ENVIRONMENT=development
VITE_DEBUG_MODE=true

# Logging
VITE_LOG_LEVEL=info
